body {
    background-color: rgb(255, 170, 0);
}

.purpleText{
    color:rgb(147, 10, 79)
}

p {outline-color:rgb(45, 26, 24);}
p.double {
    outline-style: double;
}

h1 {
    text-align: center;
  }

h1 {
  text-shadow: 2px 2px rgb(34, 221, 53);
}