body {
    background-color: rgb(255, 255, 255);
}

.purpleText{
    color:rgb(17, 1, 9);
}

.double {
    outline-style: double;
    outline-color:rgb(45, 26, 24);
}

.topButtons {
    text-align: center;
}

h1 {
    text-align: center;
    border:rgb(45, 26, 24) "rounded-end";
}

.resumeHeader {
    padding: 10px border;
    border-radius: 10px;
    max-width: 180px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2px;
}

.bunPic {
    margin-top: 30px;
    border-radius: 40px;
}
