body {
    background-color: rgb(255, 255, 255);
}

.topButtons {
    text-align: center;
}

h1 {
    text-align: center;
    border:rgb(45, 26, 24) "rounded-end";
}

.bunPic {
    margin-top: 30px;
    border-radius: 40px;
}

.andy{
   float: right;
   margin-top: 20px;
   max-height: 600px;
   border-radius: 40px;
}

.eni{
  float: right;
  margin-top: 20px;
  max-height: 800px;
  border-radius: 40px;
}

.aboutText{
   position: relative;
   margin-left: 40px;
   margin-right: 650px;
   text-align: left;
   font-size: 18px;
   border-style: none;
   background-color:#F8B195;
   color:#27445e;
   padding: 40px;
   border-radius: 40px;
   font-family:Arial, Helvetica, sans-serif;
}

.resumeText{
  position: relative;
  margin-left: 40px;
  margin-right: 700px;
  text-align: left;
  font-size: 18px;
  border-style: none;
  background-color:#27445e;
  color:#F5D29C;
  padding: 40px;
  border-radius: 40px;
  font-family:Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  text-align: center;
  padding: 32px;
}

.row {
   display: -ms-flexbox; /* IE 10 */
   display: flex;
   -ms-flex-wrap: wrap; /* IE 10 */
   flex-wrap: wrap;
   padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
   -ms-flex: 50%; /* IE 10 */
   flex: 50%;
   padding: 0 4px;
}

.column img {
   margin-top: 8px;
   vertical-align: middle;
}

/* Style the buttons */
.btn {
   border: none;
   outline: none;
   padding: 10px 16px;
   background-color: #ffffff;
   color:rgb(0, 0, 0);
   cursor: pointer;
   font-size: 18px;
   transition-duration: 0.3s;
}

.btn.clickHome {
   padding: 10px 16px;
   background-color: #ffffff;
   color:rgb(0, 0, 0);
   cursor: pointer;
   font-size: 18px;
   transition-duration: 0.3s;
}

.butt1:hover{
  background-color: #008B99;
  color:#F5D29C;
  /*border: dotted;*/
}

.butt2:hover{
  background-color: #F8B195;
  color: #355C7D;
}
.butt3:hover{
  background-color: #F67280;
  color: #6C5B7B;
}
.butt4:hover{
  background-color: #C06C84;
  color:#EDBFD9;
}
.butt5:hover{
  background-color: #6C5B7B;
  color:#F67280;
}
.butt6:hover{
  background-color: #355C7D;
  color: #F8B195;
}