/* DRAWING/PHOTOS*/
.column {
    -ms-flex: 50%;
    flex: 50%;
    padding: 0 4px;
  }
  

  /* .writings{
    float: left;
    width: 300px;
    height:300px;
    border-radius: 50%;
    object-fit:cover;
  } */
  
  .potato{
    margin: 20px 50px;
  }
  
  .size {
    font-size: 1.75em;
  }
  
  /* .content {
    padding: 15px 0;
  } */
  
  /* #info {
    font-size: .75em;
    padding:0 0 10px 0;
    font-family: calder-grit-shadow, sans-serif;
  } */

  .spacing img {
    padding-bottom: 24px;
  }