<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Vertical Whales</title>
        <link rel="icon" type="image/png" href="/images/favicon.png"/>
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

 <!-- CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel="stylesheet" type="text/css" href="/css/landing.css">
        <link rel="stylesheet" href="https://use.typekit.net/zny1plw.css">

<!-- NAVBAR -->

    </head>
    <body>
      <a class="butt1 home_btn btn clickHome header" href="/index.html"><h1>Use Your Blinker</h1></a>
      <nav class="navbar navbar-expand-lg" id="navbar">
            <div class="container-fluid">
              <a class="navbar-brand" href="/index.html"><img src="/images/home.png" alt="home" id="logo"></a>
              <div class="mx-auto" style="width: 580px;">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link nav_btn btn butt2" href="/doodles.html">Doodles</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link nav_btn btn butt3" href="/tails.html">Tails</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link nav_btn btn butt4" href="/stills.html">Stills</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link nav_btn btn butt5" href="/finds.html">Finds</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link nav_btn btn butt6" href="/resume.html">Resume</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link nav_btn btn butt7" href="/about.html">About</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>

        <section class="content">{{ content }}</section>

<!--FOOTER-->
      <footer>
        <div class="row footerColor">
          <div class="col colw">
            <img src="/images/home.png" alt="home" class="img-fluid photoForFooter" id="turntable">
          </div>
          <div class="col colw footer_col">
              I like talking to people about <br>their human experience.<br><br>Maybe you want to contact me.<br>
              heythere@verticalwhales.com
          </div>
          <div class="col colw footer_col">
              I don't have any other social media,<br>so don't look for me.
          </div>
          <div class="col colw">
            <a class="btn butt3 termsFooterButton" href="terms.html">Terms of Service</a>
          </div>
        </div>
      </footer>

<!--MOTION FOR NAV STICKY BAR/ BUTTONS--> 
    <script src="/navbar.js"></script>

 <!-- Bootstrap bundle scripts -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    </body>
</html>